* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

:root {
    font-size: 62.5%;
}

.logo_nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.nav {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    gap: 2rem;
    margin-right: 5rem;
}

.nav>a {
    position: relative;
    display: inline-block;
    margin: 15px;
    padding: 15px 30px;
    text-align: center;
    font-size: 18px;
    letter-spacing: 1px;
    text-decoration: none;
    color: #1287d4;
    background: transparent;
    cursor: pointer;
    transition: ease-out 0.5s;
    border: 2px solid #1287d4;
    border-radius: 10px;
    box-shadow: inset 0 0 0 0 #1287d4;
}

.nav>a:hover {
    color: white;
    box-shadow: inset 0 -100px 0 0 #1287d4;
}

.nav>a:active {
    transform: scale(0.9);
}

@media screen and (max-width: 600px) {
    .nav {
        flex-direction: column;
        align-items: center;
    }

    .nav>a {
        margin: 10px 0;
    }
}

.home{
    background-image: url('assets/bag_top.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.top {
    width: 100%;
    height: 80vh;
    //background-image: url('assets/bag_top.jpg');
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 5rem;
}

.resumo {
    top: 50%;
    left: -100%;
    /* Começa fora da tela, à esquerda */
    left: 0;
    white-space: nowrap;
    /* Evita que o texto quebre em várias linhas */
    animation: slideFromLeft 2s forwards;
    /* Usa a animação definida abaixo */
    color: #fff;
    font-size: 2rem;
    padding: 0 0 0 10rem;
}

@keyframes slideFromLeft {
    0% {
        transform: translateX(-100%);
        /* Inicia fora da tela, à esquerda */
    }

    100% {
        transform: translateX(0);
        /* Termina na posição inicial */
    }
}

.animation-container {
    //background-color: rebeccapurple;
    display: flex;
    padding: 0 0 0 10rem;
}

.escrita {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 70px;
    font-family: fantasy;
    color: white;
}

.buttonContact {
    padding-left: 10rem;
    padding-top: 10rem;
}

.buttonContact>a {
    color: #fff;
    text-decoration: none;
    cursor: pointer;
    border: 2px solid green;
    width: 22rem;
    height: 6rem;
    background-color: green;
    display: flex;
    border-radius: .8rem;
    font-size: 1.5rem;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    transition: background-color 0.6s, transform 0.4s;
    animation: pulse 1.2s infinite;
}

.buttonContact>a:hover {
    background-color: white;
    color: green;
    transform: scale(1.1);
    transition: background-color 0.6s, transform 0.4s;
    animation-name: none;
}


@keyframes pulse {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.05);
    }

    100% {
        transform: scale(1);
    }
}

.history {
    background-color: #f9f9f9;
    padding: 4rem;
    height: 100vh;
    text-align: center;
}

.history-title h2 {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
}

.history-title {
    font-size: 36px;
    color: #333;
    margin-bottom: 20px;
    text-align: center;
    /* Adicionando centralização */
    font-family: 'Verdana', sans-serif;
    /* Aplicando a fonte Verdana */
}


.history>p {
    font-size: 5.5rem;
    margin-bottom: 1.5rem;
    font-family: 'Trebuchet MS';
}

.alig_history {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    //position: relative;
}

.text, .phot_text, .separator {
    opacity: 0;
    visibility: hidden;
    transition: opacity 1.5s ease-out, transform 1.5s ease-out;
}

.text.active, .phot_text.active, .separator.active {
    opacity: 1;
    visibility: visible;
    transform: translate(0);
}

.text {
    display: flex;
    width: 40%;
    height: 100%;
    font-size: 1.8rem;
    line-height: 1.5;
    text-align: justify;
    justify-content: center;
    margin-left: 10rem;

    flex: 2;
    text-align: left;
}


.phot_text {
    flex: 0 0 40%;
    /*  overflow: hidden;
    position: relative;
    flex: 1;*/
    margin-right: 20px;
}

.text p {
    font-size: 16px;
    line-height: 1.6;
    color: #666;
}

.phot_text img {
    max-width: 100%;
    height: auto;
    transition: transform 0.5s;
    border-radius: 10px;
}

.phot_text:hover img {
    transform: scale(1.1);
}

.separator {
    width: 2px;
    height: 100%;
    background-color: #333;
    margin: 0 20px;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    opacity: 1;
}

.contact {
    background-color: rgb(148, 148, 148);
    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;

}

.ajuContatc {
    display: flex;
    /*background-color: #1287d4;*/
    width: 100%;
}

.contact-orcamento {
    display: flex;
    padding-left: 8rem;
}

.solicite {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.solicite>h2 {
    font-size: 4rem;
}

.solicite>p {
    font-size: 2rem;
}

.contact-button {
    margin: 8rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.contact-button button {
    background-color: #fff;
    border: 1px solid #25D366;
    padding: 5px;
    position: relative;
    width: 11em;
    height: 2.5em;
    transition: 0.5s;
    font-size: 15px;
    border-radius: 0.4em;
    margin-left: 2rem;
}

.contact-button button p {
    position: absolute;
    top: 0.4em;
    left: 1.15em;
    margin: 0;
    padding: 0;
    transition: 1s;
    color: #25D366;
}

.contact-button button svg {
    position: absolute;
    top: 0.45em;
    right: 0.5em;
    margin: 0;
    padding: 0;
    opacity: 0;
    transition: 0.5s;
    height: 1em;
    fill: #fff
}

.contact-button button:hover p {
    left: 0.5em;
    color: #fff
}

.contact-button button:hover svg {
    opacity: 1;
}

.contact-button button:hover {
    background-color: #25D366;
}

.tooltip {
    position: relative;
    display: flex;
}

.tooltip .tooltip-text {
    visibility: hidden;
    color: #000;
    text-align: center;
    clip-path: polygon(30px 0%, 100% 0, 100% calc(100% - 30px), calc(100% - 30px) 100%, 0 100%, 0% 30px);
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: -30px;
    left: 115%;
    font-size: 3rem;
    opacity: 0;
    transition: opacity 0.6s;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
}

.tooltip:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
}

.card-about {
    width: 17em;
    height: 15.5em;
    background: #171717;
    transition: 1s ease-in-out;
    clip-path: polygon(30px 0%, 100% 0, 100% calc(100% - 30px), calc(100% - 30px) 100%, 0 100%, 0% 30px);
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* Adicionei esta linha para centralizar o conteúdo horizontalmente */
}

.card-about span {
    font-weight: bold;
    color: white;
    text-align: center;
    display: block;
    font-size: 1em;
    margin-top: 1em;
    /* Adicionei um espaço acima do título */
}

.card-about .info {
    font-weight: 0.1em;
    color: white;
    text-align: center;
    font-size: 0.4em;
    margin: 1em;
}

.card-about .img {
    display: flex;
    width: 4.8em;
    height: 4.8em;
    background: white;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    margin-top: 1em;
    /* Adicionei um espaço acima da imagem */
}

.card-about img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* Para garantir que a imagem cubra completamente a div circular */
    border-radius: 50%;
}

.card-about .share {
    margin-top: 1em;
    display: flex;
    justify-content: center;
    gap: 1em;
}

.card-about a {
    color: white;
    transition: .4s ease-in-out;
}

.card-about a:hover {
    color: red;
}

.card-about button {
    padding: 0.8em 1.7em;
    display: block;
    margin: auto;
    border-radius: 25px;
    border: none;
    font-weight: bold;
    background: #ffffff;
    color: rgb(0, 0, 0);
    transition: .4s ease-in-out;
    margin-top: 1em;
    /* Adicionei um espaço acima do botão */
}

.card-about button:hover {
    background: red;
    color: white;
    cursor: pointer;
}

.services {
    min-height: 100vh;
    background-color: grey;
    padding: 10rem;
}

.services>h2 {
    font-size: 5rem;
    text-align: center;
}

.typeServices {
    display: flex;
    gap: 10%;
    justify-content: space-evenly;
    margin-top: 3rem;
    font-family: sans-serif;
}

@media (max-width: 768px) {
    .typeServices {
        /*background-color: red;*/
        gap: 10%;
        justify-content: space-evenly;
        margin-top: 3rem;
        font-family: sans-serif;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: .5rem;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
}

.card {
    height: auto;
    width: 100%;
    display: flex;
    transition: 0.4s ease-out;
    gap: 5rem;
    border-radius: 2rem;
    border: 2px solid black;
}

.card:hover {
    transform: translateY(-20px);
    transition: 0.4s ease-out;
    /*border-color: #1287d4;*/
}

.content>.photo {

    border-radius: 50rem;
    width: 25rem;
    height: 25rem;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    margin: auto;
}

.photo>img {
    width: 20rem;
    height: 20rem;
}


.cardText {
    //border-top: 2px solid #000;
    padding: 1rem;
    height: 30rem;
    border-radius: 0.5rem;
    margin-top: 3rem;
    text-align: center;
}

.cardText>.til {
    font-family: fantasy;
    font-size: 3rem;
    text-align: center;
    margin-top: 1.5rem;
}

.cardText>.descrition {
    font-family: monospace;
    margin-top: 2rem;
    font-size: 2rem;

}

.celEmail {
    min-height: 25rem;
    background-color: #1287d4;
    /*height: 25rem;
    padding: 4rem 10rem 5rem 10rem;
    display: flex;
    justify-content: space-evenly;
    display: flex;
    align-items: center;
    background: #121212;
    background: linear-gradient(135deg,
            #121212 25%,
            #1a1a1a 25%,
            #1a1a1a 50%,
            #121212 50%,
            #121212 75%,
            #1a1a1a 75%,
            #1a1a1a);
    background-size: 40px 40px;
    */
    /* Animation */
    animation: move 4s linear infinite;
}

@keyframes move {
    0% {
        background-position: 0 0;
    }

    100% {
        background-position: 40px 40px;
    }
}

.celEmail>img {
    height: 10rem;
}

.contactFooter {
    /*background-color: red;*/
    display: flex;
    color: #fff;

}

.nameContact {
    display: flex;
    flex-direction: column;
    font-size: 3rem;
}

.contactFooter img {
    height: 20px;
    width: 20px;
    margin-right: 0.5rem;
}

.telFooter {
    font-size: 2rem;
    display: flex;
    align-items: center;
}

.telFooter>a {
    text-decoration: none;
    color: #fff
}


footer {
    height: 5rem;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;

}