* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;
}

header {
    background-color: rgb(31, 27, 27);
    display: flex;
    justify-content: space-between;
}

.nav {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    gap: 2rem;
    margin-right: 5rem;
}

.nav > a {
    position: relative;
  display: inline-block;
  margin: 15px;
  padding: 15px 30px;
  text-align: center;
  font-size: 18px;
  letter-spacing: 1px;
  text-decoration: none;
  color: #1287d4;
  background: transparent;
  cursor: pointer;
  transition: ease-out 0.5s;
  border: 2px solid #1287d4;
  border-radius: 10px;
  box-shadow: inset 0 0 0 0 #1287d4;
}

.nav > a:hover {
    color: white;
  box-shadow: inset 0 -100px 0 0 #1287d4;
}

.nav > a:active{
    transform: scale(0.9);
}

.top {
    width: 100%;
    height: 90vh;
    background-image: url('assets/bag_top.jpg');
    background-size: cover;
    background-position: center;
}
.animation-container{
    height: 100%;
    display: flex;
    justify-content: center;
}
  .escrita {
    display: flex;
    align-items: center;
    justify-content: center;
   font-size: 70px;
   font-family: fantasy;
   color: white;

  }

.history {
    padding: 8rem;
    height: 80vh
}

.history > P {
    font-size: 3.5rem;
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
}

.alig_history {
    display: flex;
    justify-content: center;
}

.text {
    width: 40%;
    font-size: 2rem;
    line-height: 1.5;
}

.phot_text {
    background-color: #45a049;
    margin-left: 15rem;
    height: 40rem;
    width: 40rem;
}

.contact {
    background-color: rgb(148, 148, 148);
    height: 50vh;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center; 
    position: relative;
    
}

.ajuContatc {
    display: flex;
    justify-content: center;
    width: 80%;
}

.contact-orcamento {
    //background-color: red;
}

.contact-orcamento > h2 {
    font-size: 4rem;
}

.contact-orcamento > p {
    font-size: 2rem;
}

.contact-button{
    margin: 8rem;
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.contact-button button {
    background-color: #fff;
    border: 1px solid #25D366;
    padding: 5px;
    position: relative;
    width: 10em;
    height: 2em;
    transition: 0.5s;
    font-size: 15px;
    border-radius: 0.4em;
    margin-left: 2rem;
}
  
.contact-button button p {
    position: absolute;
    top: 0.4em;
    left: 1.15em;
    margin: 0;
    padding: 0;
    transition: .5s;
    color: #25D366;
}
  
  .contact-button button svg {
    position: absolute;
    top: 0.45em;
    right: 0.5em;
    margin: 0;
    padding: 0;
    opacity: 0;
    transition: 0.5s;
    height: 1em;
    fill: #fff
  }
  
  .contact-button button:hover p {
    left: 0.5em;
    color: #fff
  }
  
  .contact-button button:hover svg {
    opacity: 1;
  }
  
  .contact-button button:hover {
    background-color: #25D366;
  }

  .tooltip {
    position: relative;
    display: flex;
    font-size: 3rem;
}

.tooltip .tooltip-text {
    visibility: hidden;
    width: 30rem;
    height: 20rem;
    background-color: #fff;
    color: #000;
    text-align: center;
    border: 1px solid #000;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: -30px;
    left: 110%;
    font-size: 3rem;
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
}

.services {
    height: 100vh;
    background-color: antiquewhite;
    padding: 10rem;
}

.services > h2 {
   font-size: 5rem;
   text-align: center;
}

.typeServices {
    display: flex;
    gap: 10%;
    justify-content: space-evenly;
    margin-top: 3rem;
}

.card {
    //background-color: #25D366;
    height: 80%;
    width: 35rem;
    display: flex;
    gap: 5rem;
}

.content > .photo {
    background-color: #FFF;
    border-radius: 50rem;
    width: 25rem;
    height: 25rem;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    margin: auto;
}

.photo > img {
    width: 20rem;
    height: 20rem;
}

.cardText {
    border: 2px solid #000;
    border-radius: 2rem;
    padding: 1rem;
    height: 30rem;
    margin-top: 3rem;
    text-align: center;
}

.cardText > .til {
    font-size: 3rem;
    text-align: center;
    margin-top: 1.5rem;
}

.cardText > .descrition {
    margin-top: 2rem;
    font-size: 2rem;
    
}

.celEmail {
    height: 25rem;
    background-color: #1287d4;
    padding: 4rem 10rem 5rem 10rem;
    display: flex;
}

.celEmail > img {
    height: 10rem;
}

.contactFooter{
    //background-color: red;
    display: flex;
    width: 50%;
}

.nameContact {
    //background-color: gold;
    display: flex;
    flex-direction: column;
    font-size: 4rem;
}

.contactFooter img {
    width: 4rem;
}

.telFooter {
    font-size: 2rem;
    display: flex;
    align-items: center;
}

footer {
    height: 5rem;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
}